nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--color-text-light);
    transition: background-color 0.3s ease;
}
a:hover{
    color: var(--color-secondary)
}

.logo {
  height: 50px;
  cursor: pointer;
}
.hamburger {
  display: none; 
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hamburger {
    display: block; 
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .menu.open {
    display: flex; 
  }
}