main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
    color: var(--color-text-light);
    font-size: 3rem;
}
.reserva{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form label{
    display: flex;
}
fieldset{
    border-radius: 8px;
    color: var(--color-secondary);
    padding: 20px;
    margin: 15px;
    font-family: var(--font-primary);
}
legend{
    color: var(--color-text-light);
}
input, textarea{
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    color: var(--color-secondary);
}
textarea, input:focus{
    outline: none;
}
button{
    cursor: url('/img/iconos/estrella.png'), auto;
    background-color: var(--color-accent);
    color: var(--color-text-light);
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: var(--color-text-light);
    color: #fff;
}
textarea{
    width: 100%;
    resize: none;
}